<nav class="nav-links">

    <a class="nav-link @(Context.Request.Path == "/" ? "active": "")" asp-controller="Admin" asp-action="Index">
    <i class="fa-duotone fa-solid fa-briefcase"></i>
    <span>Projects</span>
    </a>
</nav>