@model ProjectsViewModel
@{
    ViewData["Title"] = "Projects";
}

<main class="main">
    <div class="page-header">
        <h1>Projects</h1>
        <button class="add-button" data-modal="true" data-target="#projectModal">
            <i class="bi bi-plus-lg"></i>
            Add Project
        </button>
    </div>
    <div class="project-table">
        <div class="tabs">
            <a href="#" class="tab-link">ALL [ 9 ]</a>
            <a href="#" class="tab-link">STARTED [ 5 ]</a>
            <a href="#" class="tab-link">COMPLETED [ 4 ]</a>
        </div>
        <div class="card-container">
            @if(Model.Projects != null && Model.Projects.Any())
            {
                @foreach (var project in Model.Projects)
                {
                    @await Html.PartialAsync("Partials/ProjectMain/_ProjectCardItemPartial", project)
                }
            }
        </div>
    </div>
</main>

@await Html.PartialAsync("Partials/Modals/_AddProjectModalPartial", Model.AddProjectFormData)
@await Html.PartialAsync("Partials/Modals/_EditProjectModalPartial", Model.EditProjectFormData)