@using Data.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<UserEntity> userManager
@inject SignInManager<UserEntity> signInManager

@if (signInManager.IsSignedIn(User))
{
    var user = await userManager.GetUserAsync(User);

    <div class="settings-popup">
        <div class="user-img">
            <img src="~/images/avatar-male1.svg" alt="User Avatar">
            <span class="user-name">@user?.FullName</span>
            @* Lägg till om man är Admin eller User här *@
        </div>

        <div class="logout-btn">
            <i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i>
            <a asp-controller="Account" asp-action="SignOut" class="logout">Logout</a>
        </div>
    </div>
}

