
@{
}

<div class="settings-popup">
    <div class="user-img">
        <img src="~/images/avatar-male1.svg" alt="User Avatar">
        <span class="user-name">Tim Larsson</span>
    </div>
    <div class="logout-btn">
        <i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i>
        <button class="logout">Logout</button>
    </div>
</div>
