
@{
}

<div class="gear">
    <i class="fa-duotone fa-solid fa-gear" data-settings="true"></i>
</div>
<div class="separator"></div>
    <div class="avatar-img">
        <img src="~/images/avatar-male1.svg" alt="User avatar">
    @await Html.PartialAsync("Partials/Top/Settings/_SettingsPopupPartial")
</div>