
@{
}

<div class="search">
    <form method="get" asp-controller="" asp-action="" novalidate>
        <div class="search-wrapper">
            <i class="fa-sharp fa-solid fa-magnifying-glass search-icon"></i>
            <input type="search" class="search-form-input" placeholder="Search anything" />
        </div>
    </form>
</div>
