@model AddProjectViewModel
<section>
    <div id="projectModal" class="_modal">
        <div class="_modal-content">
            <div class="_modal-header">
                <h3 id="modalTitle">Add Project</h3>
                <button class="btn-close" data-close="true"></button>
            </div>
            <form method="post" asp-controller="Admin" asp-action="AddProject" enctype="multipart/form-data" class="_form-modal space-y-1" novalidate>
                <div class="input-group">
                    <div id="upload-trigger" class="image-preview-container project-image">
                        <img id="image-preview" src="#" class="hide" />
                        <div id="image-preview-icon-container" class="circle circle-gray">
                            <i id="image-preview-icon" class="fa-duotone fa-solid fa-camera"></i>
                        </div>
                    </div>

                    <input type="file" asp-for="Image" id="image-upload" accept="image/*" />
                    <span asp-validation-for="Image"></span>
                </div>
                <div class="input-group">
                    <label asp-for="ProjectName" class="form-label">Project Name</label>
                    <input type="text" asp-for="ProjectName"  class="form-input">
                    <span asp-validation-for="ProjectName"></span>
                </div>
                <div class="input-group">
                    <label asp-for="ClientId" class="form-label">Client Name</label>
                    <select asp-for="ClientId" class="form-input">
                        <option value="">Choose client...</option>
                        @foreach (var client in Model.Clients)
                        {
                            <option value="@client.Value">@client.Text</option>
                        }
                    </select>
                    <span asp-validation-for="ClientId"></span>
                </div>
                <div class="input-group">
                    <label asp-for="Description" class="form-label">Description</label>
                    <textarea asp-for="Description" class="form-input" rows="2" placeholder="Type something"></textarea>
                    <span asp-validation-for="Description"></span>
                </div>
                <div class="input-group dates">
                    <div class="date-field">
                        <label asp-for="StartDate" class="form-label">Start Date</label>
                        <input type="date" asp-for="StartDate" class="form-input date-input">
                        <span asp-validation-for="StartDate"></span>
                    </div>
                    <div class="date-field">
                        <label asp-for="EndDate" class="form-label">End Date</label>
                        <input type="date" asp-for="EndDate" class="form-input date-input">
                        <span asp-validation-for="EndDate"></span>
                    </div>
                </div>
                <div class="input-group budget-group">
                    <label asp-for="Budget" class="form-label">Budget</label>
                    <div class="budget-wrapper">
                        <i class="fa-sharp fa-solid fa-dollar-sign budget-icon"></i>
                        <input type="number" asp-for="Budget" class="form-input" placeholder="0">
                    </div>
                    <span asp-validation-for="Budget"></span>
                </div>
                <div class="btn-modal">
                    <button type="submit" id="modalActionBtn" class="_btn-custom _btn-blue">Create</button>
                </div>
            </form>
        </div>
    </div>
</section>
