@model LogInViewModel
@{
    Layout = "_Layout_Forms";
    ViewData["Title"] = "LogIn";
}
<div class="surface">
    <div class="form-group">
        <form method="post" asp-controller="Account" asp-action="LogIn" class="reg-form space-y-1" novalidate>
            <div class="form-heading">
                <h1>Login</h1>
            </div>
            <div class="input-group">
                <label asp-for="Email" class="form-label"></label>
                <input class="form-input" asp-for="Email">
                <span asp-validation-for="Email"></span>
            </div>
            <div class="input-group">
                <label asp-for="Password" class="form-label"></label>
                <input class="form-input" asp-for="Password">
                <span asp-validation-for="Password"></span>
            </div>
            <div class="input-group">
                <div class="custom-check">
                    <input asp-for="RememberMe" class="form-check-box">
                    <label asp-for="RememberMe">Remember me</label>
                </div>
            </div>
            <button type="submit" class="_btn-custom _btn-blue">Log In</button>
        </form>
    </div>
    <footer class="form-footer">
        <div class="flex-end">
            <p>Don't have an account? <a asp-controller="Account" asp-action="SignUp" class="h-links">Sign Up</a></p>
        </div>
    </footer>
</div>