@model SignUpViewModel

@{
    Layout = "_Layout_Forms";
    ViewData["Title"] = "Create Account";
}
    <div class="surface">
        <div class="form-group">
            <form method="post" asp-controller="Account" asp-action="SignUp" class="reg-form space-y-1" novalidate>
                <div class="form-heading">
                    <h1>Create Account</h1>
                </div>
                <div class="input-group">
                    <label asp-for="FullName" class="form-label"></label>
                    <input class="form-input" asp-for="FullName">
                    <span asp-validation-for="FullName"></span>
                </div>
                <div class="input-group">
                    <label asp-for="Email" class="form-label"></label>
                    <input class="form-input" asp-for="Email">
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="input-group">
                    <label asp-for="Password" class="form-label"></label>
                    <input class="form-input" asp-for="Password" value="@Model.Password">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="input-group">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <input class="form-input" asp-for="ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <div class="input-group">
                    <div class="custom-check">
                        <input asp-for="Terms" class="form-check-box">
                        <label asp-for="Terms">I accept the <a href="#" class="h-links">Terms and Conditions</a></label>
                    </div>
                </div>
                <button type="submit" class="_btn-custom _btn-blue">Create Account</button>
            </form>
        </div>
        <footer class="form-footer">
            <div class="flex-end">
                <p>Already have an account? <a asp-controller="Account" asp-action="LogIn" class="h-links">Login</a></p>
            </div>
        </footer>
    </div>
