@{
}

<header class="top">
    <div class="top-wrapper">
        @await Html.PartialAsync("Partials/Top/Searchbar/_SearchbarPartial")
        <div class="settings-wrapper">
            @await Html.PartialAsync("Partials/Top/Settings/_SettingsPartial")
        </div>
    </div>
</header>